<div class="header_navbar sticky">
    <div class="logo">
        <img src="../assets/Travel Ease Logo.png" alt="Logo">
    </div>
    <div class="nav_links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/customer" routerLinkActive="active">Customer</a>
        <a routerLink="/orderentry" routerLinkActive="active">Order</a>
        <a routerLink="/paymentcollection" routerLinkActive="active">Collection</a>
        <a routerLink="/supplier" routerLinkActive="active">Supplier</a>
        <a routerLink="/paymenttosupplier" routerLinkActive="active">Payment</a>
        <a routerLink="/report" routerLinkActive="">Report</a>
    </div>
</div>
