body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 70%;
    margin: 120px auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
input[type="date"] {
    width: calc(100% - 22px);
    height: 40px;
    padding: 0 10px;
    border: 2px solid #DBDBDB;
    border-radius: 5px;
    background-color: #fff;
    color: #747E88;
    transition: border-color 0.3s ease;
}

select{
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
input[type="date"]:focus {
    border-color: #EEC41E;
    outline: none;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #EEC41E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d4a303;
}

.right{
    margin-left: 83%;
}

.rightone{
    margin-left: 92%;
}

.righttwo{
    margin-left: 82.5%;
}

.rightthree{
    margin-left: 80.7%;
}

.rightfour{
    margin-left: 72%;
}

.table-responsive {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}